html {
  scroll-padding-top: 72px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

h1 {
  color: #d271a5;
}

.subtitle {
  font-weight: 200;
  font-style: italic;
}

a {
  color: #d271a5; /* O cualquier otro color que prefieras */
  text-decoration: none;
}
.boton {
  background-color: #d271a5;
  color: white;
  text-decoration: none;
}

.font-principal {
  font-size: 13px;
  text-align: start;
  padding-top: 0%;
}
.text-descripcion {
  font-size: 1.5rem;
  text-align: start;
}

.fondo {
  background-image: url(/assets/img/back-pattern.png);
}
.fondoprincipal {
  background: linear-gradient(
      rgba(255, 183, 183, 0.773),
      rgba(255, 255, 255, 0.642)
    ),
    url(/assets/img/experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010125.jpg);
}

.bg-body-white {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

main {
  width: 100%;
  margin: 0;
}
.Presentacion {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.resumen {
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .resumen {
    padding: 5rem 2rem;
  }
}

.descripcion {
  border: 30px;
}
.foto {
  width: 7rem;
  height: 7rem;
  margin-top: 1rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .foto {
    width: 11rem;
    height: 11rem;
    margin: 2rem;
    border: 3px solid #fff;
  }
}

@media (min-width: 992px) {
  .foto {
    width: 13rem;
    height: 13rem;
    margin: 2rem;
    border: 5px solid #fff;
  }
}

/* 
*/

.icon {
  width: 2rem;
}

.container-photo {
  width: 30%;
}

.projects-carousel {
  width: 100%;
}

.projects-carousel .project-image-container {
  padding: 4rem;
}

.projects-carousel .project-image {
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.projects-carousel .carousel-item .card {
  border: none;
}

.bg-pink {
  background-color: #c8498d;
}

.imagen {
  background-image: url(/assets/img/header2.jpg);
}

.bg-informacion {
  background-color: rgba(255, 183, 183, 0.627);
  transform: rotate(-1deg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 300px;
  min-height: 300px;
  max-width: 350px;
  max-height: 350px;
  box-sizing: border-box;
}

.bg-informacion:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
  transform: rotate(-3deg);
}
.text-container {
  position: relative;
  padding-left: 20px;
}

.text-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #d271a5;
}

.text-container p {
  position: relative;
  margin: 0;
  padding-left: 20px;
}

footer {
  background-color: rgba(255, 183, 183, 0.627);
  color: #ffffff;
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

#carouselExampleFade.projects-carousel.carousel.slide.carousel-fade
  .carousel-control-prev {
  width: 60px;
}

#carouselExampleFade.projects-carousel.carousel.slide.carousel-fade
  .carousel-control-next {
  width: 60px;
}

.logo-university {
  width: 72px;
}

.projects-section {
  background-color: rgb(33, 37, 41);
  color: #fff;
}
.projects-section h3 {
  text-align: center;
  padding: 3rem 0 0;
}

section.competencies {
  padding: 0 3rem;
}
